.main_chat
  .main_chat__header
    .main_chat__header__left-box
      %h2.main_chat__header__left-box__current-group
        ポケモン
      %ul.main_chat__header__left-box__member-list
        Memder : ヒトカゲ
    .main_chat__header__edit-btn
      Edit
    - link_to "#",class: "main_chat__header__edit-btn"
  .main_chat__messages
    = render @messages
          
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      %form.new__message
        .input-box 
          %input{type: "text", class: "input-box__text", placeholder: "text a message"}
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file",class: "input-box__file"}
        %input{type: "submit", value: "Send", class: "submit-btn" }
      